# Ignore Python cache files
__pycache__/
fastrtc_chat/__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore other common files
*.log
*.sqlite3

# Ignore egg-info directories
*.egg-info/